body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header{
     position: fixed;     
    top: 0;               
    left: 0;
    width: 100%;          
    background: rgb(255, 255, 255);    
    padding: 5px 0;
    z-index: 1000;      
    box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
}
section {
    scroll-margin-top: 120px; 
}

.container {
    width: 85%;
    margin: auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0;
}

.nav {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}


.hero {
    padding-top: 100px; 
    height: 85vh;
    background: url('../images/background.jpg') center/cover no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

.hero-content {
    position: relative;
    text-align: center;
    color: white;
}

.hero-btns button {
    margin: 10px;
}

.btn-primary {
    background: #c62727;
    border: 3px solid #c62727;
    padding: 12px 28px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.btn-secondary {
    background: transparent;
    color: white;
    border: 2px solid #f9f9f9;
    padding: 12px 28px;
    cursor: pointer;
    border-radius: 4px;
}


.features {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 5px ;
    position: relative;
    margin-top: -50px;
}


.feature {
    padding: 35px;
    background: #cccece;
    border-radius: 2px;
    text-align: center;
}
.feature i {
    font-size: 40px;
    margin-bottom: 15px;
}

.feature.red {
    background: #c72121;
    color: white;
}


.services {
    text-align: center;
    padding: 40px 0;
    background-color: #f1f1f1;
}

.red-text {
    color: #ff4747;
}

.service-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.service-grid i {
    font-size: 35px;
    color: black;
    margin-bottom: 10px;
}

.dark-section {
    background: #1a1a1a;
    color: white;
    padding: 50px 0;
}

.dark-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.info-img {
    width: 340px;
    border-radius: 4px;
   border-style:inset;

}

.gallery-section h2 {
    padding-top: 45px;
    text-align: center;
    margin-bottom: 20px;
}

.gallery-grid {
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.gallery-grid img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}


.contact {
    padding: 50px 0;
    text-align: center;
}

.contact-form {
    display: grid;
    gap: 15px;
    max-width: 600px;
    margin: auto;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.contact-form button {
    width: 100%;
}
.contact-icon i{
    color: #c62727;
    justify-content: space-between;
}

footer {
    background: #111;
    color: #fffdfd;
    text-align: center;
    padding: 20px 0;
}

.copyright {
    font-size: 14px;
    margin-top: 40px;
}

.footer-links i {
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
    font-size: 15px;
}

